p {
 font-size: 1rem;
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 1.5rem;
}
/* Styles for desktop */
@media (min-width: 1024px) {
 p {
 font-size: 1.125rem;
 }
 h1{
  font-size: 2.5rem
 }
 h2{
  font-size: 1.75rem;
 }
}
/* Styles for tablet screen */
@media (min-width: 768px) {
 p {
 font-size: 1.25rem;
 }
 h1{
  font-size: 3rem
 }
 h2{
  font-size: 2rem
 }
}

*{
  background-color: transparent;
}
body {
  color:white;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 0.75rem;
}
button:hover {
  border-color: #7e7f8d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* navbar */
.route-faded{
  color: rgb(182, 180, 180);
}
.superscript{
  font-size: 12px
}
.spotify-icon {
  font-size: 2.5rem;
}
.profile-photo{
  width: 2rem;
  border-radius: 50%;
}
/* song-list */
.song-box.selected {
  border-radius: 0.75rem;
  background-color: #222121; 
  opacity: 0.7;
  color: white; /* Optional: Change text color to white for better contrast */
}
.songlist-images{
  width: 4rem; 
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover; 
}

.search-box {
  width: 100%;
  height: 40px;
  border-radius: 5px; 
  position: relative; 
  background-color: #222121; 
  opacity: 0.7;
}

.search-box input {
  background-color: transparent; 
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px; 
  color: white; 
}
/* gradient */

button{
  background-color: transparent;
  color: white;
}
@media (min-width: 768px) {
  .song-list-container {
    margin-left: 13.5rem;
    margin-right: 10rem;
    width: 27.5rem;
  }
}

.song-list{
  padding:0;
}
.search-icon{
  position: absolute;
  color: #d7d7e2;
  top:30%;
  right: 1rem;
}
.song-box{
  height: 5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}
.song-duration{
  position: relative;
  top: 0.45rem
}
.song-box:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(24, 23, 23, 0.2); 
}

/* music player */
.music-player{
  width: 100%;
  /* max-width: 700px; */
  min-width: 290px;
}
.music-player-image{
  width: 100%;
  aspect-ratio: 1/1;
  padding: 1rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.music-player-controls{
  background-color: transparent;
  margin-top: 1rem;
  height: 2.5rem;
  font-size: larger;
}
@media (min-width: 768px){
  .music-player-controls{
  position: relative;
  top: -55px;
  }
}
.musicplayer-icon{
  border-radius: 50%;
  color: white;
  font-size: larger;

}
.bg-player{
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  border-radius: 50%;
  background-color:  #222121; ; /* Match the background color of the circle */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); /* Add subtle drop shadow */
  cursor: pointer; /* Change cursor to pointer on hover */
}
.bg-player span{
  position: relative;
  top: -6px;
  right: -1.5px;
  font-weight: 700;
  letter-spacing: 2.5px;
  color: #fff; /* Set dot color to white */
}
.faded{
  color:  #615f5f; 
}
.progress-bar{
 width: 100%;
}

.max-height {
  min-height: 100vh;
}
.artist-faded{
  color: #afb3b4;
}

.progress-bar {
  width: 100%;
  height: 8px; 
  background: black; 
  border-radius: 5px; 
}
/* responsive ness */
@media (max-width: 768px) {
  .music-player-progress {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  .music-player-progress {
    /* padding: 0; */
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
.internal-icon{
  font-weight: 700;
  letter-spacing: 2.5px;
  font-size: 2rem; 
}
.plr-3{
  padding-left: 1rem;
}